* {
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
	margin: 0;
	padding: 0;
}

h2 {
	font-style: italic;
	font-size: 3em;
	font-weight: bold;
}

p {
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
	line-height: normal;
}

div.col-md-6 > p {
	color: #000;
}

div.col, #hands-free, #bone-conduction-audio {
	margin-bottom: 8em;
	margin-top: 8em;
}

.cta {
  border-radius: 10px;
  font-size: 1.25em;
	padding: .5em 1.5em;
}

/********************/
/* HERO IMG CSS */
/********************/
.background-image {
	background-attachment: fixed;
	background-image: url("/../images/hero.jpg");
	background-position: top;
	background-size: cover;
	height: 100vh;
}

.features-background-image {
	background: url("/../images/features-background.jpg");
	background-position: bottom;
	background-size: cover;
	/* height: 100vh; */
	min-height: 42em;
}

/********************/
/* HERO CONTENT CSS */
/********************/
div.col > h2 {
	color: #fff;
}

/********************/
/* IMAGES CSS */
/********************/
#logo--rock-n-stroll {
	width: 400px;
}

#logo--peppers-black-sm {
	width: 80px;
}

/********************/
/* NAVIGATION CSS */
/********************/
.navbar-brand, nav {
	margin-top: 2em;
}

nav {
	float: right;
}

nav > a {
	color: #fff;
}

nav > a:hover {
  color: #fff;
  text-decoration: none;
}
nav > a:nth-of-type(2) {
	margin: 0 3em;
}

div.navbar-brand--sublogo {
	text-align: right;
}

.navbar-brand--sublogo > span {
	color: #000;
	font-style: italic;
}

/********************/
/* HANDS FREE CONTENT CSS */
/********************/
#cta-sunglasses {
	width: 100%;
}

.featurette-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#featurette-cta {
	width: 11em;
}
